body {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #101820
}

.flex {
    display: flex;
}

.justify-align-center {
    justify-content: center;
    align-items: center;
}

.font-40 {
    font-size: 40px;
}

.font-30 {
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: row;
}
.cell {
    height: 200px;
    width: 200px;
    border: solid 2px #FEE715;
    font-size: 75px;
    color: #FEE715;
}

#game-container {
    text-align: center;
}

#game-text {
    color: #FEE715;
}